.logo {
  color: white;
  font-size: 26px;
  font-weight: 600;
}

.logo:hover {
  color: white;
  text-decoration: none;
}

.land-section-text:nth-child(2) {
  font-size: 21px;
}

.land-section-text:nth-child(3) {
  margin-top: 20px;
  font-size: 18px;
}

.land-section-text span {
  font-size: 20px;
}