h1 {
  font-size: 2rem;
}

body {
  background-image: url('../images/avanzza-bg-logo.jpeg');
  background-repeat: no-repeat;
}

.mt120 {
  margin-top: 120px;
}

.logo {
  height: 26px;
  margin-left: 200px;
}

.description {
  line-height: 32px;
}

.links a {
  margin-right: 40px;
}